@page "/status-code/403"

<h1 class="text-danger text-center">403 Forbidden</h1>

<p class="text-center">
    You do not have permission to access this resource.
</p>

<div class="mb-3 text-center">
    <NavLink href="users/login"
             class="btn btn-primary btn-lg mx-auto"
             style="background-color: purple;">
        Login
    </NavLink>
</div>