@page "/status-code/429"

<h1 class="text-danger text-center">429 Too Many Request</h1>

<p class="text-center">
    Please try again later.
</p>

<div class="mb-3 text-center">
    <NavLink href="/"
             class="btn btn-primary btn-lg mx-auto"
             style="background-color: purple;">
        Home
    </NavLink>
</div>