@page "/status-code/404"

<h1 class="text-danger text-center">404</h1>

<p class="text-center">The resource you are looking for could not be found.</p>

<div class="mb-3 text-center">
    <NavLink
        href="/"
        class="btn btn-primary btn-lg mx-auto"
        style="background-color: purple;">
        Home
    </NavLink>
</div>



