@page "/status-code/401"

<h1 class="text-danger text-center">401 Unauthorized</h1>

<p class="text-center">
    Unauthorized. You do not have permission to view this resource.
</p>

<div class="mb-3 text-center">
    <NavLink href="users/login"
             class="btn btn-primary btn-lg mx-auto"
             style="background-color: purple;">
        Login
    </NavLink>
</div>