@page "/status-code/409"

<h1 class="text-danger text-center">409</h1>

<p class="text-center">
    Entity with the same data already exists.
</p>

<div class="mb-3 text-center">
    <NavLink href="/"
             class="btn btn-primary btn-lg mx-auto"
             style="background-color: purple;">
        Home
    </NavLink>
</div>