@page "/status-code/400"

<h1 class="text-danger text-center">400</h1>

<p class="text-center">
    Bad Request. The request could not be understood by the server.
</p>

<div class="mb-3 text-center">
    <NavLink href="/"
             class="btn btn-primary btn-lg mx-auto"
             style="background-color: purple;">
        Home
    </NavLink>
</div>